.body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color:currentColor;
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address{
    font-style: normal;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  } 
.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-logo{
        color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 76px
    }
    .header-list {
        display: flex;
        margin-left: 40px;
        gap: 40px;
    }
    .header-menu{
        margin-left: 40px;
        gap: 40px;
        padding: 24px 0;
    }
    .header-logo-blue{
        color: #2E2F42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .headflex{
        display: flex;
    }

    .header-nav{
    display: flex;
    align-items: center;
    padding: 24px 0;
    }
    .header-container{
        display: flex;
    }
    .address{
        font-style: normal;
        display: flex;
    }
    .header-menu-link{
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
    }
    .address-link{
        color: var(--SLATE, #434455);
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
    .address-link:hover {
        color: #404BBF;
    }
    .address-item{
        margin-left: 20px;
        padding: 24px 0;
    }
    .address-link:focus {
        color: #404BBF;
        padding: 1440px 600px 1440px 600px;
        }
    .address-list{
        display: flex;
        margin-left: 100px;
        gap: 40px;
    }
        .header-menu-link:hover,
        .header-menu-link:focus,
        .header-menu-link:active{
    color: #404BBF; 
    }
    .hero{
        background-color:#2E2F42;
        height: 600px;
        padding: 188px 0;
    }
        .hero-container {
            display: block;
        }
        
        .hero-title {
        color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto;
        max-width: 496px;
        }
        .button-container{
            margin-top: 48px;
            display: flex;
            justify-content: center;
        }
        .hero-button{
        border-radius: 4px;
        border: none;
        min-width: 169px;hidden
        padding: 16px 32px;
        cursor: pointer;
        background-color: #4D5AE5;
        color: var(--WHITE, #FFF);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        height: 56px;
        }
        .hero-button:hover, 
        .hero-button:focus{
            background-color: #404BBF;
            color: #404BBF;
            cursor: pointer;
        }
    /*-----features---*/
    .features {
        background: #FFF;
        padding-top: 70px;
        padding-bottom: 70px;
        padding: 120px 0;
    }
    .feature-list {
        background-color: #FFFFFF;
        display: flex;
        gap: 24px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .features-item {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
    }
    .features-subtitle {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    .features-item-text {
        color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    /*-----our-team---*/
    sc
    .our-team {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        height: 344px;
        padding: 120px 0;
    }
    .our-team-title {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
    .our-team {
        background: var(--CLOUD, #F4F4FD);
    }
    .our-team-item {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
    }
    .our-team-list{
        background-color: #FFFFFF;
        display: flex;
        gap: 24px;
    }
    .our-team-img {
        background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
        display: blocks;
    }
    .our-team-subtitle {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    .our-team-text {
        color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .Mark-Guerrero-Product-Designer{
        padding: 32px 0;
    }
    .Tom-Ford-Frontend-Developer{
        padding: 32px 0;
    }
    .Camila-Garcia{
        padding: 32px 0;
    }
    .Daniel-Wilson{
        padding: 32px 0;
    }

    /*-----our-portfolio---*/
    
    
    .our-portf {
        background-color: #FFFFFF;
        padding: 120px 0 120px 0;
    }
    .our-portf-title{
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        }
    .our-portf-list {
        background-color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }
    .our-potrf-item {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; /* 120% */
        letter-spacing: 0.02em;
        background-color: #FFFFFF;
        }
    .our-portfolio-img {
        background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
        display: block
    }
    .our-portfolio-subtitle {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; /* 120% */
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    .our-portfolio-text {
        color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
    }
    .Banking-App{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .Cashless-Payment{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .Meditation-App{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .Taxi-Service{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .Screen-Illustrations{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .Online-Courses{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    
    /*-----footer---*/
    .footer {
        background: var(--NAVY-BLUE, #2E2F42);
        padding: 100px 0;
    }
    .footer-logo {
        color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block; 
        margin-bottom: 16px; 
    }
    .footer-text {
        color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
    }
    .web{
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    